@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* #region  /**=========== Global colors =========== */
  --color-white: 255 255 255; /* #ffffff */
  --color-black: 0 0 0; /* #000000 */
  --color-navy: 12 53 114; /* #0C3572 */
  --color-gray: 112 112 112; /* #707070 */
  --color-cloud: 229 229 229; /* #E5E5E5 */
  --color-error: 255 0 0; /* #FF0000 */
  --color-success: 60 222 0; /* #3CDE00 */
  --color-warning: 255 204 0; /* #FFCC00 */
  --color-lightgray: 157 157 157; /* #9D9D9D */
  --color-primary: var(--color-navy);

  /* #endregion  /**======== Global colors =========== */
}

@layer base {
  .h0 {
    @apply font-primary text-xl font-bold leading-xl;
  }

  h1,
  .h1 {
    @apply font-primary text-lg font-bold leading-lg;
  }

  h2,
  .h2 {
    @apply font-primary text-lg leading-md;
  }

  h3,
  .h3 {
    @apply font-primary text-base leading-base;
  }

  body,
  .p {
    @apply font-primary text-base leading-base;
  }

  body {
    overflow-x: hidden;
  }

  [type='text']:focus,
  [type='email']:focus,
  [type='url']:focus,
  [type='password']:focus,
  [type='number']:focus,
  [type='date']:focus,
  [type='datetime-local']:focus,
  [type='month']:focus,
  [type='search']:focus,
  [type='tel']:focus,
  [type='time']:focus,
  [type='week']:focus,
  [multiple]:focus,
  textarea:focus,
  select:focus {
    box-shadow: none;
  }
}

/* input checkbox */

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 50px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container-small {
  padding-left: 30px;
  cursor: pointer;
}

.input-checkbox {
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  opacity: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 32px;
  width: 32px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.input-checkbox-small ~ .checkmark {
  width: 20px;
  height: 20px;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #fff;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #fff;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 50%;
  top: 40%;
  width: 10px;
  height: 26px;
  border: solid #000;
  border-width: 0 3px 3px 0;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}

.checkbox-container-small .checkmark:after {
  width: 8px;
  height: 18px;
}

/* input ends */

/* Date picker input */

.custom_calendar {
  /* width: 400px; */
  border: 2px solid #0c3572 !important;
}

.react-datepicker-popper {
  z-index: 60 !important;
}

.custom_calendar .react-datepicker__header {
  background-color: #fff;
}

.custom_calendar .react-datepicker__current-month {
  color: #0c3572;
  font-family: 'DM Sans';
}

.custom_calendar .react-datepicker__day-names {
  margin: 0 0.4rem;
  display: flex;
  justify-content: space-around;
}

.custom_calendar .react-datepicker__day-name {
  color: #0c3572;
  font-family: 'DM Sans';
}

.custom_calendar .react-datepicker__day--outside-month {
  color: #cccccc;
  pointer-events: none;
}

.custom_calendar .react-datepicker__day--keyboard-selected {
  background-color: #fff;
  border: 1px solid #0c3572;
  color: #0c3572;
  font-family: 'DM Sans';
}

.custom_calendar .react-datepicker__day--range-end {
  background-color: #0c3572;
}

.custom_calendar .react-datepicker__triangle::before {
  border-top-color: #0c3572 !important;
}
.custom_calendar .react-datepicker__day--selected {
  background-color: #0c3572;
  font-family: 'DM Sans';
}

.custom_calendar .react-datepicker__month-select,
.custom_calendar .react-datepicker__year-select {
  margin: 10px 0;
  border-width: 1px;
  border-radius: 5px;
  border-color: #0c3572;
  color: #0c3572;
  font-family: 'DM Sans';
}

.custom_calendar .react-datepicker-time__caption {
  font-family: 'DM Sans';
  font-size: 16px;
  color: #0c3572;
}

.custom_calendar .react-datepicker__input-time-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
}

.custom_calendar .react-datepicker-time__input {
  color: #0c3572;
  border-radius: 5px;
  width: 100%;
}

.custom_calendar .react-datepicker__day {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-family: 'DM Sans';
}

/* Converastion scrollbar */

/* ===== Scrollbar CSS ===== */
/* Firefox */
.conversation {
  scrollbar-width: auto;
  scrollbar-color: #0c3572 #ffffff;
}

/* Chrome, Edge, and Safari */
.conversation::-webkit-scrollbar {
  width: 10px;
}

.conversation::-webkit-scrollbar-track {
  background: #ffffff;
}

.conversation::-webkit-scrollbar-thumb {
  background-color: #0c3572;
  border-radius: 0px;
  border: 0px solid #ffffff;
}

/* Date picker input ends */

/* Data table */

.section-table {
  width: 100%;
}

.section-table tbody td {
  font-size: 16px !important;
  line-height: 24px;
}

.section-table tbody tr {
  background-color: rgb(var(--color-cloud) / 0.25);
}

.section-table tbody tr:nth-child(2n) {
  background-color: rgb(var(--color-white) / 0.25);
}

.section-table tbody tr td.record-actions:last-child {
  position: sticky;
  right: 0;
  z-index: 2;
}

.section-table tbody tr td:last-child {
  background-color: rgb(248, 248, 248);
}

.section-table tbody tr:nth-child(2n) td:last-child {
  background-color: rgb(var(--color-white));
}

th,
td {
  padding: 20px;
  white-space: nowrap;
}

/*Swiper*/

#layout-links {
  padding-bottom: 25px;
  margin-bottom: -25px;
}

#layout-links .swiper-slide {
  width: auto !important;
}

.react-code-input {
  display: flex !important;
  gap: 8px;
}

.react-code-input input {
  width: 47px;
  height: 51px;
  border: 1px solid #e5e5e5;
  text-align: right;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 18px;
  outline: none;
}

.react-code-input input:focus {
  outline: none;
  border: 1px solid #e5e5e5;
}

.react-code-input input[data-valid='false'] {
  border: 1px solid #ff0000;
}

.react-code-input input::-webkit-outer-spin-button,
.react-code-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.react-code-input input[type='number'] {
  --moz-appearance: textfield;
}

@keyframes pulse-success {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(60, 222, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(60, 222, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(60, 222, 0, 0);
  }
}

@keyframes hideProgressBar {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
